body{
    background-image: url('/imgs/gojo_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form{
    font-size: 15px;
    text-align: center;
    background-color: gray;
    margin: 110px;
    padding: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 30px;
    width: 600px;
}

a{
    text-decoration: none;
    background-color: rgb(185, 177, 177);
    color: black;
   padding: 20px;
   outline: black 5px inset;
}

input#user{
   width: 250px;
   height: 30px;
}

input.password{
    width: 250px;
    height: 30px;
}

