<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Better Animes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/Style/style.css'>
    <script src='main.js'></script>
</head>
<body>
   <form>
       
       <a href="index.html"><button style="width: 70px; height: 40px;font-family: cursive;">Login</button><!-- <input style="width: 70px; height: 50px; font-family: cursive;" type="button" name="login" id="login" value="Login" --></a>
       <p>Better animes, a Plataforma de animes mais completa e com opções diversas para sua diversão! </p>
        <img src="/imgs/animes.jpg" alt="Animes">
       <div id="forum">
           <h1>Sobre nós</h1>
           <ul>
               <li>Uma plataforma que atua no mercado de streaming há 20 anos</li>
               <li>Com variedades de animes de diversos gêneros para o seu entretenimento</li>
               <li>Com classificações indicativas pra cada um dos animes</li>
               <li>Opções de 'Dublado ' e 'Legendado'</li>
           </ul>
       </div>
       <div></div>
   </form>
</body>
</html>