<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login de Usuário</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='login.css'>
   
</head>
<body>
    <form id="login" >
        <label for="user">Login:</label><br>
        <input type="text" class="login" name="login" placeholder="Nome de usuário" maxlength="25px"><br>
        <label for="senha">Senha: </label><br>
        <input type="password" class="login" placeholder="Senha"><br><br>
        <input type="submit" value="Entrar">
    </form>
    <script src='login.js'></script>
</body>
</html>