<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Página Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style/home.css'>
   <link rel="shortcut icon" href="/imgs/icons8-amino-16.png" type="image/x-icon">
    
</head>
<body>
    <a href="/view/index.html"><img src="/imgs/better_anime.jpg" alt="better_animes_logo" id="logo"></a><br><br><br>
    <h1>Catalógo dos mais assistidos</h1>
    <h2>Demon slayer </h2>
    <a href="https://www.crunchyroll.com/pt-br/series/GY5P48XEY/demon-slayer-kimetsu-no-yaiba?srsltid=AfmBOopdEN4enz1wB1Auw11c8h8rgrOoi2-LtNK4AchSryxDfNHTgsXp"><img class="animes" src="/imgs/demon-slayer-1567444885003_v2_900x506.png" alt="Demon slayer"></a> 
    <ul>
        <li>Anime de Luta</li>
        <li>Espadachins</li>
        <li>Supense e ação</li>
        <li>Personagens cativantes</li>
        <li>História Fascinante</li>
        <p>Crítica de alguns dos usuários da nossa página</p>
    </ul>
    <p>"A história é uma coisa que realmente fascina cada um que assiste" usuário: Loyd&78</p>
    <p>"Do começo ao fim, tudo é cativante, é uma obra simplesmente perfeita" usuário peter74</p>
    

    <h2>Jujutsu kaisen</h2>
    <a href="/view/jujutsu.html"><img class="animes" src="/imgs/jujutsu.jpeg" alt="jujutsu"></a>
    <ul>
        <li>Feitiços</li>
        <li>Ação</li>
        <li>Um toque de emoção</li>
        <li>Prender a sua atenção a cada personagem</li>
        <p>Críticas: </p>
    </ul>
    <p>"Um anime muito interessante,recomendo bastante" Usuária leona*099</p>
    <p>"É realmente um grande diferecial no mundo dos animes shonen, ele faz você se importar com cada personagem e ainda  se envolvendo com cada um deles " usuário p0rt5b4</p>
    

    <h2>Naruto</h2>
    <a href="/view/naruto.html"><img class="animes" src="/imgs/naruto.jpeg" alt="naruto"></a>
    <ul>
        <li>Ninjas</li>
        <li>Aventuras inesquecíveis!</li>
        <li>Um dos mais bem avaliados de nossa plataforma!!</li>
        <li>O mais assistido em 2025</li>
    </ul>
</body>
</html>