<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Better Animes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' media='screen' href='/Style/index.css'>
  <link rel="shortcut icon" href="/imgs/icons8-amino-16.png" type="image/x-icon">
    <script src='main.js'></script>
</head>
<body>
   <form>
       
       <a target="_blank" href="login.html" id="login">Login</a>
       <a href="home.html" id="home">Home</a>
       <a href="more.html" id="more"></a><br>
       <p>Better animes, a Plataforma de animes mais completa e com opções diversas para sua diversão! </p>
        <img src="/imgs/animes.jpg" alt="Animes">
       <div id="forum">
           <h1>Sobre nós</h1>
           <ul class="about">
               <li >Uma plataforma que atua no mercado de streaming de animes há 15 anos</li>
               <li>Com variedades de animes de diversos gêneros para o seu entretenimento</li>
               <li>Com classificações indicativas pra cada um dos animes</li>
               <li>Opções de 'Dublado ' e 'Legendado'</li>
           </ul>
       </div>
       <div>
        <iframe src="" frameborder="0"></iframe>
       </div>
   </form>
</body>
</html>