<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login de Usuário</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' media='screen' href='../style/login.css'>
    <link rel="icon" type="image/png" href="/imgs/Gemini_Generated_Image_nbek81nbek81nbek.jpeg">
    <link rel="stylesheet" href="https://fontawesome.com/icons/eye?f=classic&s=solid">
   
    
</head>
<body>

    <header>
        <a href="/view/index.html"><img src="../imgs/Gemini_Generated_Image_nbek81nbek81nbek.jpeg" alt="logo" class="logo"></a>
        <h1>Página de Login</h1>
    </header><br><br><br><br><br>
    <img src="/imgs/gif_naruto.gif" alt="naruto" id="naruto">
        <form>
            <label for="user">Login:</label><br>
            <input type="text" id="login" name="login" placeholder="Nome de usuário" ><br>
            <label for="senha">Senha: </label><br>
            
            <input type="password" id="password" placeholder="Senha" > <i onclick="showPassword()" class="bi bi-eye-fill"></i> <br>
        
            <br>
            <div class="password">
                <button type="submit" value="Entrar" id="submit" onclick="validate()">
                Entrar</button>
            </div>
            Esqueceu a Senha?<a href="/view/recovery.html" id="recovery">Recuperar</a> __|___|__
            
            Não possui conta?<a href="/view/cadastro.html" >Criar</a><br>

        </form><br>
        <div id="imgs">
            <img src="/imgs/konohagakure.jpg" alt="konoha" id ='konoha'>     
    </div>

    <footer>

    </footer>
    <script src='/script/login.js'></script>
</body>
</html>